.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;

  background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}

.card-title-login {
  font-weight: 100;
  font-size: 2.5rem;
}